VITE_API_BASE_URL=http://localhost:4000/api
VITE_UNIFY_BRAND_NAME=Unify
VITE_UNIFY_LOGO_URL=/logos/unify.png
VITE_UNIFY_BRAND_SUBTITLE=Boshqaruv tizimi
VITE_ACCOUNTING_BRAND_NAME=Yagona buxgalteriya
VITE_ACCOUNTING_LOGO_URL=/logos/yagona-buxgalteriya.png
VITE_ACCOUNTING_BRAND_SUBTITLE=Buxgalteriya kurslari
